.new-expense__controls {
  margin: 1rem;
  display: flex;
  background-color: blue;
}

.new-expense__control label {
  font-weight: bold;
  display: block;
}

.new-expense__control input {
  margin: 1rem;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.new-expense__actions {
  text-align: right;
}
