.new-expense__controls {
  display: flex;
  padding: 0.5rem;
  gap: 1.5rem;
  align-items: flex-end;
}

.new-expense__control label {
  font-weight: bold;
  display: block;
  text-align: left;
  margin-bottom: 1rem;
}

.new-expense__control input {
  padding: 0.5rem;
  border-radius: 3px;
  border: 1px solid #ccc;
  max-width: 100%;
}
.new-expense__actions {
}
