.new-expense {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-shrink: 1;
  background-color: rgb(31, 31, 31);
  padding: 1rem;
  border-radius: 3px;
  text-align: center;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.25);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  padding: 1rem 2rem;
  border: 1px solid #21009a;
  background-color: #14005d;
  color: #eeeeee;
  border-radius: 3px;
  margin-right: 1rem;
  font-weight: bold;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: #510674;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}
