@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Noto Sans JP", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  text-align: center;
  margin: 0;
  background-color: #24272e;
  color: #dddddd;
}

.main-heading {
  text-align: center;
}
